/* general */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --grey-background: #F6F8F9;
    --lime-button: #A3D116;
    --fuchsia-button: #EC4A9D;
    --orange-button: #FF9B00;
    --blue-button: #14AAF5;
    --grey-button: #C4CBD0;
    --green-checkmark: #2FC6AC;
    --red-checkmark: #FF4141;
    --purple-button: #AB5DE6;
    --green-button: #2CC6AB;
    --blue-logo: #021732;
}

body{
    background-color: var(--grey-background);
}

/* header */

#header_site{
    
}

nav{
    height: 3.5rem;
    background-color: white;
    padding: 5px;
    
    
}

.logo{
    height: 3rem;
    /* margin-top: 5px;
    margin-left: 10px; */
    display: inline;
    vertical-align: middle;
}

.text_logo{
    font-size: 2rem;
    display: inline-block;
    color: var(--blue-logo);
    line-height: 3rem;
    vertical-align: middle;
    margin: 0;
}

/* main */

.container{
    width: 70%;
    margin: 50px auto 0;
    background-color: white;
    padding-top: 10px;
    
}

.button{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--grey-background);
}

#blue{
    background-color: var(--blue-button);
    color: white;
    padding: 10px;
    border-radius: 5px;
    border-style: none;
    
}

#grey{
    background-color: white;
    color: var(--grey-button);
    border-color: var(--grey-button);
    border-radius: 5px;
    padding: 9px;
    border-style: solid;
}


/* footer */