/* general */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --grey-background: #F6F8F9;
    --lime-button: #A3D116;
    --fuchsia-button: #EC4A9D;
    --orange-button: #FF9B00;
    --blue-button: #14AAF5;
    --grey-button: #C4CBD0;
    --green-checkmark: #2FC6AC;
    --red-checkmark: #FF4141;
    --purple-button: #AB5DE6;
    --green-button: #2CC6AB;
    --blue-logo: #021732;
}

body{
    background-color: var(--grey-background);
}

/* header */

#header_site{
    
}

nav{
    height: 3.5rem;
    background-color: white;
    
    
}

.logo{
    width: 3rem;
    margin-top: 5px;
    margin-left: 10px;
}

.text_logo{
    font-size: 2rem;
    display: inline-block;
    color: var(--blue-logo);
    
}

/* main */


/* footer */